registry=https://registry.npmjs.org/
ignore-scripts=false
fetch-retries=5
fetch-retry-factor=2
fetch-timeout=600000
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
playwright_skip_browser_download=true
playwright_download_host=https://npmmirror.com/mirrors/playwright/